<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <% if (errMessage.length > 0) { %>
      <div class="alert alert-danger" role="alert"><%= errMessage %></div>
    <% } %>
    <h2 class="my-3">抽獎獎項新增</h2>
    <div class="alert alert-primary" role="alert">剩餘機率：<%= remaining %></div>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <div class="form-row align-items-center">
        <div class="col-6 col-md-3 mb-3">
          <input class="form-control" type="text" name="name" id="name" placeholder="獎項名稱">
        </div>
        <div class="col-6 col-md-3 mb-3">
          <div class="input-group">
            <input class="form-control" type="number" min="0" max="<%= remaining %>" name="probability" id="probability" aria-label="probability" aria-describedby="probability-append" placeholder="機率">
            <div class="input-group-append">
              <div class="input-group-text" id="probability-append">%</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image" accept="image/*">
            <label class="custom-file-label" for="image">選擇圖檔</label>
          </div>
        </div>
      </div>
      <textarea class="form-control mb-3" name="description" id="description" placeholder="畫面顯示文字"></textarea>
      <div class="text-right">
        <input type="submit" class="btn btn-primary" value="新增">
      </div>
    </form>
    <% if (prizes) { prizes.forEach(prize => { %>
      <hr class="my-3">
      <div class="row justify-content-between mb-3">
        <h2 class="col-auto"><%= prize.name %></h2>
        <div class="col-auto">
          <form action="/delete" method="POST">
            <input type="hidden" name="id" id="id" value="<%= prize.id %>">
            <input type="hidden" name="imageDeletehash" id="imageDeletehash" value="<%= prize.imageDeletehash %>">
            <button class="btn btn-outline-danger">刪除</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-between">
        <form class="col-12 col-md-6 d-flex flex-wrap justify-content-end" action="updateImg" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" name="image" id="image" accept="image/*">
            <label class="custom-file-label" for="image">更新圖片</label>
          </div>
          <div class="w-100 mb-3">
            <img class="d-block w-100 bg-dark" src="<%= prize.image %>" alt="獎項">
          </div>
          <input type="hidden" name="id" id="id" value="<%= prize.id %>">
          <input type="hidden" name="name" id="name" value="<%= prize.name %>">
          <input type="hidden" name="imageDeletehash" id="imageDeletehash" value="<%= prize.imageDeletehash %>">
          <input type="submit" class="btn btn-secondary align-self-end" value="更新">
        </form>
        <form class="col-md-6 col-12" action="/update" method="POST">
            <div class="form-row align-items-center">
              <div class="col-6 mb-3">
                <input class="form-control" type="text" name="name" id="name" value="<%= prize.name %>" placeholder="獎項名稱">
              </div>
              <div class="col-6 mb-3">
                <div class="input-group">
                  <input type="number" class="form-control"ˋ min="0" max="<%= remaining + prize.probability %>" name="probability" id="probability" value="<%= prize.probability %>" aria-label="probability" aria-describedby="probability-append"  placeholder="機率">
                  <div class="input-group-append">
                    <span class="input-group-text" id="probability-append">%</span>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <textarea class="form-control" rows="10" name="description" id="description" placeholder="畫面顯示文字"><%= prize.description %></textarea>
              </div>
              <div class="col-12 text-right">
                <input type="hidden" name="id" id="id" value="<%= prize.id %>">
                <input type="submit" class="btn btn-secondary" value="儲存">
              </div>
            </div>
          </form>
      </div>
      <% }); } %>
  </div>
  <script src="/js/bs-custom-file-input.min.js"></script>
</body>
</html>